i {
	color: #FFEB3B; 
}

h6 {
  color: #FFEB3B; 
}

h1, h2, h4, h5, p {
  color: white;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background-image: linear-gradient(to right, #FFB324 , #FFFF66);
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  width: 44px;
  height: 44px;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}


/*-----BARRA ROLAGEM-----*/   
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
}

::-webkit-scrollbar-track-piece {
  background-color: #A9A9A9;
  -webkit-border-radius: 0px;
}

::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #E9E9E9;
  -webkit-border-radius: 3px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #1B1B1B;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #FFD900;
  border-top-color: #1B1B1B;
  border-bottom-color: #1B1B1B;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

input {
	width: 20%;
}

input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 42%;
	border: none;
	outline: none;
	height: 35px;
	background-image: linear-gradient(to right, #FFB324 , #FFFF66);
	color: black;
	border-radius: 20px;
    transition: 0.2s;
}

input[type="submit"]:hover {
    cursor: pointer;
    box-shadow: 0px 0px 10px 1px rgb(128,128,128);
    transition: 0.2s;
}